# Auto detect text files and perform LF normalization
#* text=auto

*.cs       text eol=lf
*.txt      text eol=lf
*.csv      text eol=lf
*.json     text eol=lf
*.xml      text eol=lf

# But keep Unity meta files and binary assets untouched
*.meta -text
*.png -text
*.jpg -text
*.fbx -text
*.anim -text
*.prefab -text
*.unity -text
*.asset -text
*.bat -text
*.exe -text
*.xlsx -text

# Third-party assets - binary files, no line ending conversion
*.tga binary
*.max binary
*.psk binary
*.dds binary
*.tif binary
*.tiff binary
*.psd binary

* -text