
[RemoveTracks]
Gacha_HighSpawn.7=all
Gacha_HighSpawn.14=all
Gacha_HighSpawn.18=all
Gacha_HighSpawn.22=all
Gacha_HighSpawn.25=all
Gacha_HighSpawn.27=all
Gacha_HighSpawn.31=all
Gacha_HighSpawn.35=all
Gacha_HighSpawn.42=all
Gacha_HighSpawn.45=all
Gacha_HighSpawn.53=all
Gacha_HighSpawn.56=all
Gacha_HighSpawn.60=all
Gacha_HighSpawn.62=all
Gacha_HighSpawn.64=all
Gacha_HighSpawn.66=all
Gacha_HighSpawn.68=all
Gacha_HighSpawn.69=all
Gacha_HighSpawn.70=all
Gacha_HighSpawn.71=all
Gacha_HighSpawn.72=all
Gacha_HighSpawn.73=all
Gacha_HighSpawn.74=all
Gacha_HighSpawn.75=all
Gacha_HighSpawn.76=all
Gacha_HighSpawn.77=all
Gacha_HighSpawn.78=all
Gacha_HighSpawn.86=all
