
[RemoveTracks]
NonBattle_Idle02.7=all
NonBattle_Idle02.14=all
NonBattle_Idle02.18=all
NonBattle_Idle02.22=all
NonBattle_Idle02.25=all
NonBattle_Idle02.27=all
NonBattle_Idle02.31=all
NonBattle_Idle02.35=all
NonBattle_Idle02.42=all
NonBattle_Idle02.45=all
NonBattle_Idle02.53=all
NonBattle_Idle02.56=all
NonBattle_Idle02.60=all
NonBattle_Idle02.62=all
NonBattle_Idle02.64=all
NonBattle_Idle02.66=all
NonBattle_Idle02.68=all
NonBattle_Idle02.69=all
NonBattle_Idle02.70=all
NonBattle_Idle02.71=all
NonBattle_Idle02.72=all
NonBattle_Idle02.73=all
NonBattle_Idle02.74=all
NonBattle_Idle02.75=all
NonBattle_Idle02.76=all
NonBattle_Idle02.77=all
NonBattle_Idle02.78=all
NonBattle_Idle02.86=all
