
[RemoveTracks]
NonBattle_Idle01.7=all
NonBattle_Idle01.14=all
NonBattle_Idle01.18=all
NonBattle_Idle01.22=all
NonBattle_Idle01.25=all
NonBattle_Idle01.27=all
NonBattle_Idle01.31=all
NonBattle_Idle01.35=all
NonBattle_Idle01.42=all
NonBattle_Idle01.45=all
NonBattle_Idle01.53=all
NonBattle_Idle01.56=all
NonBattle_Idle01.60=all
NonBattle_Idle01.62=all
NonBattle_Idle01.64=all
NonBattle_Idle01.66=all
NonBattle_Idle01.68=all
NonBattle_Idle01.69=all
NonBattle_Idle01.70=all
NonBattle_Idle01.71=all
NonBattle_Idle01.72=all
NonBattle_Idle01.73=all
NonBattle_Idle01.74=all
NonBattle_Idle01.75=all
NonBattle_Idle01.76=all
NonBattle_Idle01.77=all
NonBattle_Idle01.78=all
NonBattle_Idle01.86=all
